.home-cont {
  background: url("./assets/travel-home.jpg");

  height: 500px;
}
.body {
  background-color: antiquewhite;
}

.nav-bg {
  background-color: antiquewhite;
}

.about-bg {
  display: inline-block;
  width: 100vw;
  max-height: 70vh;
}

.van-cont {
  min-height: 100vh;
  background-color: antiquewhite;
}

.van-img {
  width: 200px;
}

.hostVan-img {
  width: 100px;
}

a {
  text-decoration: none;
}

a:hover {
  /* font-weight: bold; */
  text-decoration: underline;
}
